<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.cryptobot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/activate/Dev/robinhood-crypto-bot/crypto_bot.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/activate/Dev/robinhood-crypto-bot</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/activate/Dev/robinhood-crypto-bot/cryptobot_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/activate/Dev/robinhood-crypto-bot/cryptobot_stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Users/activate/Library/Python/3.9/bin</string>
        <!-- Add user site-packages to PYTHONPATH -->
        <key>PYTHONPATH</key>
        <string>/Users/activate/Library/Python/3.9/lib/python3.9/site-packages</string>
    </dict>
</dict>
</plist>
